//Reset scss
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

// Utils
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholder';

// Base styles
@import 'fonts/fonts';
@import 'normalize';

// Partials
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';
@import 'partials/goTop';
@import 'partials/errorModal';

//Pages
@import 'views/homePage';
@import 'views/detailsPage';
@import 'views/filmsPage';
@import 'views/libraryPage';
