$bg-primary-color: #77c1bb;

/* 119 193 187*/

$bg-second-color:#f3f6f6;

/*243, 246, 246*/

$primary-light-color:#fff;

/* 255, 255, 255 white*/

$second-light-color:#f7efe3;

/* 247 239 227*/

$primary-dark-color:#000;

/* 0 0 0 black*/

$second-dark-color:#372c48;

/* 55 44 72*/

$bg-searchbar-color:#7cb39e;

/*124, 179, 158*/

$bigBTN-hover-color:#77c1bb;

/*119, 193, 187*/

$buttonUP-color:#8ecbc6;
$txt-navBTN-color:#212121;
$bg-navBTN-color:#8ed5dd;