.main {
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
}

.main__form {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.main__input {
  width: 256px;
  padding: 8px;
  border-radius: 16px;
  outline: none;
}

.main__filmList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 32px;
}

.main__plaginationsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__prevButton,
.main__nextButton {
  border: 0;
  outline: 0;
  background-color: #77c1bb;
  border-radius: 16px;
  text-transform: uppercase;
  color: #ffff;
  padding: 8px;
  cursor: pointer;
}

.main__prevButton:hover,
.main__nextButton:hover {
  background-color: #40aaa1;
}

.main__plaginationPageNumber {
  border: 3px solid #77c1bb;
  padding: 8px;
  margin: 0 16px;
}

.main__error {
  text-align: center;
  color: red;
  font-size: 16px;
  margin-bottom: 16px;
}
