.container {
  margin: 0 auto;
}

.main__list {
  @extend %list;
  margin-top: 15px;
}

.main__item-link {
  margin: 0;
  padding: 0;
}



.main__item-block {
  margin: 0;
  padding: 0;
}



.main__item {

  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  left: 0;
}

.main__item-img {
  min-width: 100%;
  height: 160px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 10px;

}




.main__item-about-list {
  position: absolute;
  bottom: 10px;
  left: 15px;
  display: flex;
  list-style: none;

}


.main__item-title {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 2.79px 0.21px rgba(0, 0, 0, 0.35), inset 0px 0px 2.64px 1.36px rgba(0, 0, 0, 0.35);
  font-size: 20px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 0.933;
  text-align: center;
}

.main__about-item {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
}


.header-btn-container {
  display: flex;
  justify-content: center;
  background-color: rgb(243, 246, 246);
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.23);
}


.header-big-btn {

  font-size: 16px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  width: 140px;
  height: 40px;
  border: none;
  display: block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
  background-color: white;
  position: relative;
  background-color: rgb(119, 193, 187);
}

@media (max-width: 767px) {
  .container {
    width: 300px;
  }

  .main__list {
    width: 300px;
  }

  .main__item {
    height: 160px;
    width: 300px;
    margin-bottom: 15px;
    margin-top: 15px;
  }


}

@media (min-width: 768px) {
  .container {
    width: 715px;
    height: auto;
  }

  .main__item {
    width: 345px;
    height: 180px;
  }

  .main__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .main__item-about-list {

    bottom: 30px;


  }
}


// чомусь не працює
// .header-big-btn::before {
//   height: 10px;
//   width: 20px;
//   position: absolute;
//   border-style: solid;
//   border-width: 4px;
//   border-radius: 50%;
//   top: 10px;
//   right: 10px;
//   display: block;
//   background-color: red;
//   border-color: red;

// }



// .main__item {
//   @media (max-width: 767px) {
//     margin-bottom: 18px;
//     width: 100%;

//     &:last-of-type {
//       margin-bottom: 0;
//     }
//   }

//   @media (min-width: 768px) {
//     margin-bottom: 28px;
//     width: 47.75%;

//     &:nth-last-of-type(-n + 2) {
//       margin-bottom: 0;
//     }
//   }

//   @media (min-width: 1024px) {
//     width: 31.05%;

//     &:nth-last-of-type(-n + 3) {
//       margin-bottom: 0;
//     }

//     &:last-of-type {}
//   }

//   &-link {
//     @extend %link;
//     width: 100%;
//     // font-family: $main-text-font;
//     font-size: 0.857em;
//     line-height: 1.33;
//   }

//   &-img {
//     display: block;
//     width: 100%;
//     height: auto;
//     margin-bottom: 10px;
//     border-radius: 5px;
//   }

//   &-title {
//     // color: $poster-title-color;
//     text-transform: uppercase;
//     margin-bottom: 5px;
//   }

//   &-about-list {
//     @extend %list;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     // color: $poster-about-color;
//     text-transform: capitalize;
//     position: relative;
//   }
// }

// .main__about-item {
//   padding: 0 2px;
// }

// .main__about-vote {
//   // background-color: $poster-about-color;
//   color: #fff;
//   margin-left: 2px;
//   padding: 2px 9px;
//   border-radius: 5px;
//   position: relative;
//   bottom: 2px;
// }
