                .logo-name {
                    display: flex;
                }
                
                .logo {
                    margin-right: 20px;
                }
                
                .name {
                    text-transform: uppercase;
                    display: none;
                    color: $second-dark-color;
                    font-weight: 600;
                    font-size: 20px;
                }
                
                .nav {
                    display: flex;
                    flex: 0 0 70%;
                    justify-content: space-between;
                    display: table;
                }
                
                .menu_item {
                    text-transform: uppercase;
                    margin: 3px;
                    list-style: none;
                    text-align: center;
                    font-size: 14px;
                    position: relative;
                    width: calc(100%/3);
                    display: table-cell;
                    vertical-align: middle;
                }
                
                .menu_item a {
                    color: $second-dark-color;
                    text-decoration: none;
                    display: block;
                }
                
                a.active {
                    color: $prymary-light-color;
                }
                
                .header {
                    background-color: $bg-prymary-color;
                    height: 65px;
                    width: 100%;
                    font-weight: 600;
                    position: fixed;
                    z-index: 100000;
                    padding: 0 20px;
                    top: 0;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                }
                
                .menu_item a::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    display: block;
                    height: 3px;
                    width: 100%;
                    opacity: 0;
                    transition: all 250ms linear;
                }
                
                .menu_item a:hover::after {
                    background: $second-dark-color;
                    opacity: 1;
                }
                
                .menu_item a.active:hover::after {
                    background: $prymary-light-color;
                }
                
                @media (min-width: 768px) {
                    .name {
                        display: flex;
                    }
                    .menu_item {
                        font-size: 20px;
                    }
                    .nav {
                        right: 30px;
                        flex: 0 0 50%;
                    }
                }
                
                @media (min-width: 1024px) and (max-width:1440) {
                    .nav {
                        flex: 0 0 40%;
                    }
                }
                
                @media (min-width: 1441px) {
                    .nav {
                        flex: 0 0 30%;
                    }
                }